/* You can add global styles to this file, and also import other style files */
/*Gris oscuro (#333333) como fondo principal
Azul marino (#283C63) para los títulos y botones
Gris claro (#E0E0E0) para el texto y los detalles
Azul claro (#A9C6FA) para acentos sutiles Puede usarse en iconos o líneas divisorias 
#C3D4FF para un fondo suave en secciones específicas
*/
body{
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #333333 !important;
    --sb-track-color: #232E33;
    --sb-thumb-color: #283C63;
    --sb-size: 14px;
} 
html {
    scroll-behavior: smooth;
  }
  
h1{
    font-size: 2.5rem;
}
html{
    margin: 0;
}
.important{
    color: #C3D4FF !important;
}

  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px; 
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }