/* You can add global styles to this file, and also import other style files */
/*Gris oscuro (#333333) como fondo principal
Azul marino (#283C63) para los títulos y botones
Gris claro (#E0E0E0) para el texto y los detalles
Azul claro (#A9C6FA) para acentos sutiles Puede usarse en iconos o líneas divisorias 
#C3D4FF para un fondo suave en secciones específicas
*/
body{
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #333333 !important;
} 

h1{
    font-size: 2.5rem;
}
html{
    margin: 0;
}
.important{
    color: #C3D4FF !important;
}