
header{
    height: 5vh;
    width: 100%;
    background-color: #283C63 !important;
    
}
main{
    
    height: 95vh;
    width: 100%;
    overflow:auto;
}
footer{
    height: 10vh;
    width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;

}
#presentacion{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#Skills{
    height: 40vh;
    width: 100%;
}
#Projects{
    height: 40vh;
    width: 100%;
}
#contacto1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;    
}
#contacto2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;    
}       
#typewriter{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#imagen{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
  font-family: monospace !important;
}
h1,h2 {
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  
  color: #C3D4FF !important;
}
h3,h4,h5,h6,p {
    color: #E0E0E0 !important;
}
