
    <header>

    </header>

<main>
    <div id="presentacion" class="container text-center bg-dark mt-5 mb-5 rounded p-5 shadow">
       <div id="typewriter">
        <app-typewriter></app-typewriter>
       </div>
       <div id="imagen">
          <img src="" alt="" class="img-fluid rounded shadow">
       </div>
           
     
    

        <!--  -->
        
    </div>
    <div id="Skills" class="container text-center bg-dark mt-5 mb-5 rounded p-5 shadow">
        <h1>Skills</h1>
    </div>
    <div id="Projects" class="container text-center bg-dark mt-5 mb-5 rounded p-5 shadow">
        <h1>Proyects</h1>

    </div>
    
    
    <footer class="shadow bg-dark">
        <div id="contacto1">
            <h1>Contact me: </h1>
        </div>
        
      
        <div id="contacto2">
            <p>My email is: {{email}}</p>
            <p>My phone number is: {{phone}}</p>
            <p>My address is: {{address}}</p>
        </div>
        
        
   
    </footer>
</main>
