
    <header>

    </header>

<main>
    <div id="presentacion" class="container text-center bg-light mt-5 mb-5 rounded p-5 shadow">
        <h1>Welcome to my portfolio</h1> 
        <h1>My First Webpage</h1>
        <p>This is my first webpage</p>
        <p>I am using Angular</p>
        <p>My name is: {{name}}</p>
    </div>
    <div id="Skills" class="container text-center bg-light mt-5 mb-5 rounded p-5 shadow">
        <h1>Skills</h1>
    </div>
    <div id="Projects" class="container text-center bg-light mt-5 mb-5 rounded p-5 shadow">
        <h1>Proyects</h1>

    </div>
    
    
    <footer class="shadow">
        <div id="contacto1">
            <h1>Contact me: </h1>
        </div>
        
      
        <div id="contacto2">
            <p>My email is: {{email}}</p>
            <p>My phone number is: {{phone}}</p>
            <p>My address is: {{address}}</p>
        </div>
        
        
   
    </footer>
</main>
